// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$main_color: #f15a4b;
$lighter_color: #ef7670;
$white: #fff;
$darkgrey: #4d4d4d;
$lightgrey: #d4d4d4;
*{
  font-family: "Source Sans Pro", sans-serif;
}
h3{
  font-weight: 300;
  color:$darkgrey;
}
h4{
  font-weight: 700;
  color: $main_color;
  font-size: 20px;
  clear: both;
}

.daily{
  color: $main_color;
}
.due{
  color: $main_color;
}
.work_on{
  color: $main_color;
}
.reminder{
  color: $main_color;
}

.panel-default>.panel-heading {
    color: $white;
    background-color: $main_color;
    border: 0px;
    font-size: 18px;
}
.intro{
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}
.control-label{
  font-weight: 400;
}
label{
  font-weight: 400;
}
.btn-primary {
  color: $white;
  background-color: $main_color;
  border-color: darken($main_color, 20);
}
.btn-primary:hover {
    color: $white;
    background-color: darken($main_color, 20);
    border-color: darken($main_color, 20);
}
.btn-link {
    font-weight: 400;
    color: $main_color;
    border-radius: 0;
}
.btn-link:focus, .btn-link:hover {
    color: darken($main_color, 20);
    text-decoration: underline;
    background-color: transparent;
}

// MENU
.menu_icons{
  width: 35px;
}
.add_icons{
  width: 20px;
}
.navbar-nav>li>a {
  padding: 5px 15px;
}
.username{
  line-height: 50px;
  margin: 0 30px 0 15px;
}
.navbar-default .navbar-brand{
  color: $main_color;
  padding: 0;
  height: 50px;
  font-size: 35px;
}
.navbar-brand>img {
  display: inline-block;
  height: 50px;
  width: auto;
  padding: 5px 0;
}
/* Sortable items */

.sortable-list {
  list-style: none;
  margin: 0;
  min-height: 30%;
  padding: 5px;
  min-height: 30px;
}
.inner_wrapper{
  padding: 15px;
}
.sortable-item {
  cursor: move;
  display: block;
  margin-bottom: 5px;
}
#task-title{
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #d4d4d4;
  padding: 6px;
}
.button_group_custom{
  border: none;
  border-radius: 0;
  padding: 5px;
}
.title{
  border-bottom: 1px solid black;
}

.planner-list .sortable-list{
  height: 100%;
}
#completed_list{
  list-style: none;
}

/* Item placeholder (visual helper) */

.placeholder {
border-bottom: 2px solid #d0d2d2;
/*height: 30px;*/
margin-bottom: 5px;
}
.col-sm-3.day-wrapper{
padding: 0px;
}
.row.day-row{
margin: 0 0 20px;
}
.day-container{
border: 1px solid $lightgrey;
margin: 0;
}
.daily_note_text{
  resize: vertical;
  border-color: transparent;
  box-shadow: none;
  height: 100%;
  background-color: transparent;
  border-radius: 0;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  padding: 0 0 15px 0;
  &:focus{
    border-bottom: 1px solid $lightgrey;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;

  }
}

.todo_item{
// width:500px;
// margin:0 auto 50px auto;
// padding:50px;
// border: 2px solid gray;
  input[type="checkbox"]{
    position:absolute;
    height:0;
    width:0;
    opacity:0;
    top:-600px;
  }
}
.planner_todo_item{
  padding: 0 0 0 15px;
}

.row.day-container h4{
padding: 5px;
margin: 0;
}
.category-list{
height: 100%;
background-color: #eee;
}

// PLANNER
.arrow_buttons{
  display: inline-block;
  button{
    font-size: 30px;
    color: $main_color;
    border: 0px;
    background-color: transparent;
    &:hover{
      color: $lighter_color;
    }
  }
}
#right_button{
  float: right;
}

// NOTES

.sticky-note{
  margin: 5px 0;
  // border: 1px solid gray;
  padding: 5px;
  // width: 32%;
  box-sizing: border-box;
  background-color: #f9f9cc;
  border-top: 4px solid #f9f9cc;
  .close{
    margin-right: 12px;
  }
  .drag-section{
    width: 100%;
    height: 20px;
    cursor: move;
    // background-color: yellow;
  }
  .note_title{
    font-size: 24px;
  }
  p{
    font-size: 10px;
    padding: 6px 12px;
    text-align: right;
  }
  textarea{
    resize: vertical;
    border-color: transparent;
    box-shadow: none;
    height: 100%;
    background-color: transparent;
    border-radius: 0;
    border: none;
    background-color: transparent;
    resize: none;
    font-size: 16px;

    border-bottom: 2px solid transparent;
    &:focus{
      border-bottom: 2px solid $darkgrey;
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;

    }
  }
}
.grid-sizer,
.sticky-note {
  width: 30%;
}
.gutter-sizer {
  width: 3%;
}
.packery-drop-placeholder {
  outline: 1px dashed #ddd;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
.category_select{
  cursor: pointer;
  padding: 2px 6px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 12px;
}
.bulletColor{
  padding: 0 0 0 12px;
  font-size: 20px;
}
// END OF NOTES

// CATEGORIES
.category_list{
  list-style: none;
  padding: 10px 0;
  li{
    .close{
      opacity: 0;
    }
  }
  li:hover {
    .close{
      opacity: .5;
    }
  }

}

.category_items{
  display: inline-block;
}
.deleteCategory{
 display: inline-block;
}
#category-name{
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid $lightgrey;
  padding: 6px;
}
#category-name:focus, #category-name:hover{
  border-bottom: 1px solid $darkgrey;
}
.category_name{
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 2px;
  border-bottom: 1px solid transparent;
}
.category_name:hover{
  border-bottom: 1px solid lighten($lightgrey, 10);
}
.category_name:focus{
  border-bottom: 1px solid $darkgrey;
}

.plus-button{
  border: none;
  border-radius: 0;
  padding: 2px;
}

.border_right{
  border-right: 1px $lightgrey solid
}
.border_left{
  border-left: 1px $lightgrey solid
}
.fixed{
  position: fixed;
}
.simplecolorpicker.icon, .simplecolorpicker span.color {
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

// END OF CATEGORIES

// TO DO LIST CSS PASTED
.form-control{
  margin-bottom: 15px;
}
.btn-default {
    margin-bottom: 15px;
}
textarea{
  resize: none;
}
.task_category_select{
  width: 80%;
  display: inline-block;
}

.todo_tasks{
  ul{
    padding: 0;
    .todo-wrap{
      display:block;
      position:relative;
      clear: both;
      padding: 0 40px;
      margin-bottom: 5px;
      border-right: 1px solid transparent;
      &:hover{
        background-color: lighten($lightgrey,15);
      }
    }
  }
}
.completed_tasks{
  ul{
    padding: 0;
    .todo-wrap{
      display:block;
      position:relative;
      clear: both;
      padding: 0 40px;
      margin-bottom: 5px;
      border-right: 1px solid transparent;
      &:hover{
        background-color: lighten($lightgrey,15);
      }
    }
  }
}



.todo{
  display:inline-block;
  font-size: 18px;
  padding:5px 15px;
  height:30px;
  position:relative;
}

.todo:before{
  content:'';
  display:block;
  position:absolute;
  top:calc(50% + 4px);
  left:5px;
  width:0%;
  height:2px;
  background: $main_color;
  /*transition*/
  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;
}
.todo:after{
  content:'';
  display:block;
  position:absolute;
  z-index:0;
  height:18px;
  width:18px;
  top:9px;
  left:-15px;
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
     -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
          box-shadow:inset 0 0 0 2px #d8d8d8;
  /*transition*/
  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;
  /*border-radius*/
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}
.todo:hover:after{
/*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 2px #949494;
     -moz-box-shadow:inset 0 0 0 2px #949494;
          box-shadow:inset 0 0 0 2px #949494;
}
.todo .fa-check{
  position:absolute;
  z-index:1;
  left:-24px;
  top:0;
  font-size:1px;
  line-height:36px;
  width:36px;
  height:36px;
  text-align:center;
  color:transparent;
}
:checked + .todo{
color:#717171;
}
:checked + .todo:before{
width: calc(100% - 5px);
}
:checked + .todo:after{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 2px $main_color;
   -moz-box-shadow:inset 0 0 0 2px $main_color;
        box-shadow:inset 0 0 0 2px $main_color;
}
:checked + .todo .fa-check{
font-size:20px;
line-height:35px;
color:$lighter_color;
}
/* Delete Items */

.delete-item{
padding-right: 5px;
display:block;
position:absolute;
height:36px;
width:36px;
line-height:36px;
right:0;
top:0;
text-align:center;
color:#d8d8d8;
opacity:0;
}
.todo-wrap:hover .delete-item{
opacity:1;
}
.delete-item:hover{
color:#cd4400;
}

.input-todo{
border:none;
outline:none;
font-weight:200;
position:relative;
top:-1px;
margin:0;
padding:0;
width:100%;
}
.editing{
  height:0;
  overflow:hidden;
}

.editing.todo-wrap {
  box-shadow:0 0 400px rgba(0,0,0,.8),inset 0 0px 0 2px #ebebeb;
}
// END OF TO DO LIST CSS PASTED
.task_list_item{
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fadeOut{
  opacity: 0;
}

// LIST PAGE
.form_row{
  text-align: center;
  .create_task{
    .form-group{
      width: 400px;
      .form-control{
        width: 100%;
      }
    }
  }
}

.todo_edit_wrap{
  display: none;
  clear: both;
}
.todo_due{
  float: right;
  line-height: 35px;
}

.reminder_list{
  list-style: none;
  padding: 0;
}

#sortable{
  list-style: none;
}

// END OF LIST PAGE


// NEWSFEED
#dailyFeedList{
  list-style: none;
  padding-left: 0;
  h5{
    color: purple;
    font-size: 16px;
  }
}
